body {
  background-color:white;
}

img {
  border-radius: 50px;
  height: 340px;
  width: 340px;
}

.banner {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  text-align: center;
}

.titleBanner-header {
}

.getAnimalsButton {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.cardTable {
  margin-left: 250px;
  border-spacing: 20px;
}
